.head, #about, .aboutbox {
  animation: transitionIn 0.75s;
  font-family: 'Century Gothic', sans-serif;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}


#about {
  
  color: #4A7766;
  position: absolute;
  left: 5%;
  top: 3%;
  font-size: 21px;
  line-height: 35px;
  text-decoration: none;
}

.page {
  font-family: 'Century Gothic', sans-serif;
  height: 400px;
  width: 800px;
  margin-bottom: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  clear: both;
  position: absolute;
  left: 37%;
  top: 30%;
  z-index: -1;
  background-color: rgb(255, 255, 255);
}